*

! .gitignore
! RootNode/Makefile
! RootNode/rootNode.c
! SensorNode/Makefile
! SensorNode/sensorNode.c
! Utils-code/*
! Common/messageTypes.h

!project.pdf
!README.md
! GatewayRoot/gatewayRoot.py
! MQTT-subscriber/subscriber.py
